/* section 1 header */
.iconclass {
  position: fixed;
  top: 0.01px;
  left: 0;
}
.flex-header {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgb(17, 20, 14);
  background: -o-radial-gradient(
    circle,
    rgba(17, 20, 14, 1) 0%,
    rgba(13, 15, 11, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(17, 20, 14, 1) 0%,
    rgba(13, 15, 11, 1) 100%
  );
}
.flex-header img {
  width: 80px;
}
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-ul li a {
  margin-left: 150px;
  font-size: 20px;
  color: #ffffff;
  font-family: "Arsenal";
}

.burgerbar {
  position: absolute;
  display: none;
  top: 10px;
  right: 20px;
  color: #ffffff;
}

/* section 2 */
.bodystyle {
  background: rgb(51, 61, 41);
  background: -o-radial-gradient(
    circle,
    rgba(51, 61, 41, 1) 0%,
    rgba(21, 24, 17, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(51, 61, 41, 1) 0%,
    rgba(21, 24, 17, 1) 100%
  );
  width: 100%;
  height: 100%;
}

.bck {
  background-image: url("../images/vinyl.png");
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 1088px;
  width: 100%;
  height: 470px;
  margin: 0 auto;
  margin-top: 50px;
}

.bck :nth-child(1) {
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  margin: 0 auto;
  padding-top: 180px;
}
.bck :nth-child(2) {
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  padding-top: 50px;
  margin: 0 auto;
}
/* section 3 4 5 6 */
.bodysection {
  max-width: 1088px;
  width: 100%;
  margin: 50px auto;
}
.h3popular {
  text-align: center;
  font-size: 42px;
  margin-top: 150px;
  margin-bottom: 50px;
  color: #ffffff;
  font-family: "Arsenal";
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  background-color: #a4ac86;
}
.slider .slider_item {
  width: 400px;
  height: 300px;
  margin: 30px;
}
.slider .slider_item img {
  width: 100%;
  height: 300px;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 auto;
}

/* section 7 */

.popularvinyl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: auto auto auto;
  grid-template-columns: auto auto auto;
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
}

.vinyldiv {
  max-width: 250px;
  width: 100%;
  background-color: #b6ad90;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 50px #0f0f16;
  box-shadow: 0 0 50px #0f0f16;
  margin-top: 60px;
}
.vinyldiv img {
  border-radius: 20px;
}
.vinyldiv h3 {
  font-size: 20px;
  margin-top: 5px;
  font-family: "Poppins";
  text-align: center;
}
.vinyldiv p {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  font-family: "Poppins";
}

.vinyldiv .fa-youtube {
  margin-left: 100px;
  color: #ff0000;
  font-size: 50px;
}

/* section 8 aboutus */
:root {
  --about: #ff0000;
  --font: "Merienda";
}
.aboutus {
  max-width: 700px;
  width: 100%;
  padding-top: 40px;
  margin: 0 auto;
}
.aboutus h2 {
  margin-top: 100px;
  text-align: center;
  font-size: 45px;
  font-family: var(--font);
  color: var(--about);
}
.aboutus p {
  font-size: 25px;
  text-align: justify;
  margin-top: 15px;
  font-family: "Arsenal";
  color: #ffffff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.aboutuspage {
  max-width: 1500px;
  width: 100%;
  text-align: center;
  margin: 200px auto;
}
.aboutuspage :nth-child(1) {
  font-size: 42px;
  color: #ff0000;
  font-family: "Merienda";
}
.aboutuspage :nth-child(2) {
  font-size: 25px;
  text-align: justify;
  color: #ffffff;
  margin-top: 50px;
  font-family: "Merienda";
}

/*section 9 footer*/

.footer-block {
  background-color: #000000;
  width: 100%;
  height: 200px;
  margin-top: 100px;
}
.contactfooter {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  padding-top: 10px;
}
.fpstyle {
  margin-bottom: 20px;
}
.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.icons .fa-facebook {
  font-size: 40px;
  color: #3b5998;
}
.icons .fa-instagram {
  font-size: 40px;
  color: blueviolet;
}
.icons .fa-youtube {
  font-size: 40px;
  color: #dc4e41;
  margin-left: 40px;
}
.icons .fa-twitter {
  font-size: 40px;
  color: #55acee;
}
.footer-block p {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  font-family: "Poppins";
}
.span1 {
  color: #5863f8;
  font-family: "Poppins";
}

/* hover index */

.navigation li a:hover {
  font-size: 22px;
  text-shadow: 0 0 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* contact.html */

.contactmap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;

  -webkit-box-direction: normal;

  -ms-flex-direction: column;

  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 100px;
}

.map {
  max-width: 1400px;
  width: 100%;
  margin-top: 50px;
  border-radius: 25px;
}
.contactmap h2 {
  font-size: 42px;
  font-family: "Merienda";
  color: #ffffff;
  text-shadow: 0 0 10px;
}

.mailclass {
  border-radius: 25px;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 150px auto;
}
.sendmail {
  max-width: 600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.sendmail h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 42px;
  font-family: "Merienda";
  color: #ffffff;
  margin-top: 20px;
  text-shadow: 0 0 10px;
}
.sendmail input {
  max-width: 600px;
  width: 100%;
  height: 60px;
  margin-top: 16px;
  border-radius: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sendmail :nth-child(3) {
  height: 100px;
}
.sendbutton {
  cursor: pointer;
  background-color: #5863f8;
  max-width: 200px;
  width: 100%;
  height: 60px;
  margin-top: 16px;
  border: none;
  border-radius: 25px;
}
.sendspan {
  color: #ffffff;
  font-family: "Merienda";
}

#borderdiv {
  width: 300px;
  height: 100px;
  background-color: #2596be;
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 25px;
  -webkit-box-shadow: 0 0 100px #0f0f16;
  box-shadow: 0 0 100px #0f0f16;
}
.borderpclass {
  color: #ffffff;
  font-size: 14px;
  font-family: "Merienda";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.xclass {
  border-radius: 50%;
  background-color: lightslategray;
  color: #ffffff;
  width: 2px;
  height: 2px;
  padding: 5px;
  margin-left: 275px;
  cursor: pointer;
  font-family: "Merienda";
}

.fa-paper-plane {
  margin-left: 14px;
  color: #ff0000;
}
.weblinks {
  max-width: 800px;
  width: 100%;
  margin-left: 150px;
}
.weblinks h2 {
  color: #ffffff;
  text-align: center;
  font-size: 42px;
  margin-bottom: 100px;
  font-family: "Merienda";
  margin-top: 20px;
  text-shadow: 0 0 10px;
}
.weblinks a {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 100px;
}
.fa-facebook {
  margin-left: 25px;
  color: #3b5998;
}
.fa-instagram {
  margin-left: 50px;

  color: blueviolet;
}
.fa-paper-plane {
  margin-left: 50px;
  color: #dc4e41;
}
.fa-twitter {
  margin-left: 50px;

  color: #55acee;
}
/* hover contact  */

.weblinks .fa-facebook:hover {
  font-size: 110px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.weblinks .fa-instagram:hover {
  font-size: 110px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.weblinks .fa-paper-plane:hover {
  font-size: 110px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.weblinks .fa-twitter:hover {
  font-size: 110px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
